h1{
    background-color: pink;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}

.ccimg {
    height: 160px;
    width: 300px;
    border-radius: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    float: right;
}

li{
    color: #6bc65d;
    font-size: 30px;
    font-style: italic;
}
.column {
    width: 30%;
    float: left;
    padding-right: 20px;
}
body{
    background-color: blanchedalmond;
}

#mainContent {
    margin-left: auto;
    margin-right: auto;
}

.flashy {
    color: blue;
    font-size: 30px;
}

.best {
    color: red;
    font-size: 30px;
    text-transform: uppercase;
}

footer {

    margin-top: 200px;
    text-align: center;
        min-width: 100%;
        background-color: bisque;
        float: left;
}
